<header class="flex justify-between shadow px-4 md:px-[68px] py-[13px] md:py-5 fixed top-0 left-0 w-full bg-white z-50">
  <div class="w-[67px] md:w-[117px]">
    <img src="/assets/logo.svg" alt="Gpi" class="w-full">
  </div>
  <div class="flex items-center">
    <div
      class="flex items-center relative pr-[5px] md:pr-5 mr-3 md:mr-5 after:content-[''] after:absolute after:w-[1px] after:h-[16px] after:bg-blue-100 after:right-0 after:opacity-15">
      <img src="/assets/flag.svg" alt="Eng">
      <span class="text-[14px] md:block hidden">ENG</span>
    </div>
    <div
      class="relative w-10 h-10 bg-grey-100 flex justify-center items-center rounded-full mr-5 after:content-[''] after:absolute after:w-[10px] after:h-[10px] after:bg-pink after:top-0 after:right-0 after:rounded-full">
      <span class="material-symbols-outlined text-[20px] mr-1">
        notifications_active
      </span>
      <span></span>
    </div>
    <div class="flex items-center">
      <div class="relative w-10 h-10 bg-grey-100 flex justify-center items-center rounded-full mr-[10px]">
        <img src="/assets/user.svg" alt="User">
      </div>
      <span class="font-sans font-sans-demibold text-blue-200 opacity-80 mr-[10px] hidden md:block">მარიამ</span>
      <span
        class="border-l-4 border-r-4 border-l-transparent border-r-transparent border-t-blue-300 border-t-[6px] hidden md:block"></span>
      <img src="/assets/burger-menu.svg" alt="Menu" class="md:hidden block">
    </div>
  </div>
</header>
<section class="pb-[176px]">
  <div class="content pt-[95px] md:pt-[121px]">
    <div class="flex justify-between relative mb-[27px]">
      <div class="absolute w-full h-[1px] left-0 top-[19px] z-0 bg-green"></div>
      <div
        class="w-[38px] h-[38px] rounded-full flex justify-center items-center text-white font-sans-demibold text-[16px] bg-green border-[5px] z-10 border-white">
        1</div>
      <div
        class="w-[38px] h-[38px] rounded-full flex justify-center items-center text-white font-sans-demibold text-[16px] bg-green border-[5px] z-10 border-white">
        2</div>
      <div
        class="w-[38px] h-[38px] rounded-full flex justify-center items-center text-white font-sans-demibold text-[16px] bg-green border-[5px] z-10 border-white">
        3</div>
      <div
        class="w-[38px] h-[38px] rounded-full flex justify-center items-center text-white font-sans-demibold text-[16px] bg-green border-[5px] z-10 border-white">
        4</div>
      <div
        class="w-[38px] h-[38px] rounded-full flex justify-center items-center text-white font-sans-demibold text-[16px] bg-pink border-[5px] z-10 border-white">
        5</div>
      <div
        class="w-[38px] h-[38px] rounded-full flex justify-center items-center text-blue-300 font-sans-demibold text-[16px] bg-grey-200 border-[5px] z-10 border-white">
        6</div>
    </div>
    <div class="font-sans font-sans-bold text-base md:text-[26px] text-blue-300 text-center mb-6 md:mb-8">აირჩიე
      სასურველი დრო</div>

  </div>

  <div class="bg-tabs">
    <div class="content flex items-start justify-between">
      <div class="calendar-container">
        <img src="/assets/calendar-cursor.svg" alt="Calendar" class="mr-2">
        დღეს - 23ივლ
      </div>
      <div class="swiper-main">
        <div class="mr-[106px] ml-[106px] mrr-0">

          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div
                class="swiper-slide flex justify-center items-center flex-col font-sans-medium border-grey-400 border rounded-xl w-[82px] h-[72px]">
                <div class="text-grey-300 text-sm mb-2">ოთხ</div>
                <div class="text-blue-300 text-[16px]">23 ივლ</div>
              </div>
              <div
                class="swiper-slide flex justify-center items-center flex-col font-sans-medium border-grey-400 border rounded-xl w-[82px] h-[72px]">
                <div class="text-grey-300 text-sm mb-2">ოთხ</div>
                <div class="text-blue-300 text-[16px]">23 ივლ</div>
              </div>
              <div
                class="swiper-slide flex justify-center items-center flex-col font-sans-medium border-grey-400 border rounded-xl w-[82px] h-[72px]">
                <div class="text-grey-300 text-sm mb-2">ოთხ</div>
                <div class="text-blue-300 text-[16px]">23 ივლ</div>
              </div>
              <div
                class="swiper-slide flex justify-center items-center flex-col font-sans-medium border-grey-400 border rounded-xl w-[82px] h-[72px]">
                <div class="text-grey-300 text-sm mb-2">ოთხ</div>
                <div class="text-blue-300 text-[16px]">23 ივლ</div>
              </div>
              <div
                class="swiper-slide flex justify-center items-center flex-col font-sans-medium border-grey-400 border rounded-xl w-[82px] h-[72px]">
                <div class="text-grey-300 text-sm mb-2">ოთხ</div>
                <div class="text-blue-300 text-[16px]">23 ივლ</div>
              </div>
              <div
                class="swiper-slide flex justify-center items-center flex-col font-sans-medium border-grey-400 border rounded-xl w-[82px] h-[72px]">
                <div class="text-grey-300 text-sm mb-2">ოთხ</div>
                <div class="text-blue-300 text-[16px]">23 ივლ</div>
              </div>
              <div
                class="swiper-slide flex justify-center items-center flex-col font-sans-medium border-grey-400 border rounded-xl w-[82px] h-[72px]">
                <div class="text-grey-300 text-sm mb-2">ოთხ</div>
                <div class="text-blue-300 text-[16px]">23 ივლ</div>
              </div>
              <div
                class="swiper-slide flex justify-center items-center flex-col font-sans-medium border-grey-400 border rounded-xl w-[82px] h-[72px]">
                <div class="text-grey-300 text-sm mb-2">ოთხ</div>
                <div class="text-blue-300 text-[16px]">23 ივლ</div>
              </div>
              <div
                class="swiper-slide flex justify-center items-center flex-col font-sans-medium border-grey-400 border rounded-xl w-[82px] h-[72px]">
                <div class="text-grey-300 text-sm mb-2">ოთხ</div>
                <div class="text-blue-300 text-[16px]">23 ივლ</div>
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="content">
    <div class="flex justify-between flex-wrap">
      <mat-form-field class="md:w-[calc(25%-16px)] w-full mb-[15px]">
        <mat-label>კლინიკა</mat-label>
        <mat-select [(value)]="selectedOpt">
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{ option.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="md:w-[calc(25%-16px)] w-full mb-[15px]">
        <mat-label>პირადი ექიმი</mat-label>
        <mat-select [(value)]="selectedOpt">
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{ option.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="md:w-[calc(25%-16px)] w-full mb-[15px]">
        <mat-label>სპეციალობა</mat-label>
        <mat-select [(value)]="selectedOpt">
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{ option.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="md:w-[calc(25%-16px)] w-full mb-[15px]">
        <mat-label>ექიმი</mat-label>
        <mat-select [(value)]="selectedOpt">
          <mat-option *ngFor="let option of options" [value]="option.value">
            {{ option.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <div
        class="relative md:after:content-none after:content-[''] after:absolute after:w-full after:h-[1px] after:bg-grey-400 after:top-[12px] after:left-0 font-sans font-sans-medium text-sm md:text-blue-300 md:mb-3 text-grey-300 text-center md:text-left mb-6">
        <span class="bg-white md:px-0 px-[10px] relative z-10">სპეციალისტები</span>
      </div>
      <div class="border-grey-400 border rounded-xl pt-6 px-5 md:px-8 pb-5 doct-shadow mb-4">
        <div class="flex items-start border-grey-400 border-b border-dashed pb-4 mb-4 flex-wrap">
          <img src="/assets/doctor.jpg" alt=""
            class="mr-2 w-[56px] h-[56px] md:w-[72px] md:h-[72px] rounded-full object-cover">
          <div class="doct-desc">
            <div class="flex mb-[6px] flex-wrap md:flex-nowrap">
              <div class="font-sans font-sans-medium text-sm underline text-blue-300 mr-4">ნინო ოქროპირიძე</div>
              <div class="font-sans font-sans-medium text-sm text-red">ოტორინოლარინგოლოგი</div>
            </div>
            <div class=" md:flex hidden">
              <img src="/assets/apartment.svg" alt="" class="mr-3 w-[22px]">
              <div>
                <div class="font-sans font-sans-medium text-sm text-grey-300 mb-[2px]">მედალფა - შპს აკადემიკოს ვახტანგ
                  ბოჭორიშვილის კლინიკა</div>
                <div class="font-sans font-sans-medium text-sm text-grey-300">16 ალექსანდრე ყაზბეგის გამზირი</div>
              </div>
            </div>
          </div>
          <div class="only-m flex flex-col mt-4">
            <div class="font-sans font-sans-medium text-sm text-grey-300 mb-[2px]">მედალფა - შპს აკადემიკოს ვახტანგ
              ბოჭორიშვილის კლინიკა</div>
            <div class="flex items-center mt-4 font-sans font-sans-medium text-sm text-grey-300"><span
                class="material-symbols-outlined text-[20px] mr-1">
                location_on
              </span> 16 ალექსანდრე ყაზბეგის გამზირი</div>
          </div>
        </div>
        <div class="flex -ml-[6px] -mr-[6px] flex-wrap mob-scroll">
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:00 - 10:20</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
        </div>
      </div>
      <div class="border-grey-400 border rounded-xl pt-6 px-5 md:px-8 pb-5 doct-shadow mb-4">
        <div class="flex items-start border-grey-400 border-b border-dashed pb-4 mb-4 flex-wrap">
          <img src="/assets/doctor.jpg" alt=""
            class="mr-2 w-[56px] h-[56px] md:w-[72px] md:h-[72px] rounded-full object-cover">
          <div class="doct-desc">
            <div class="flex mb-[6px] flex-wrap md:flex-nowrap">
              <div class="font-sans font-sans-medium text-sm underline text-blue-300 mr-4">ნინო ოქროპირიძე</div>
              <div class="font-sans font-sans-medium text-sm text-red">ოტორინოლარინგოლოგი</div>
            </div>
            <div class=" md:flex hidden">
              <img src="/assets/apartment.svg" alt="" class="mr-3 w-[22px]">
              <div>
                <div class="font-sans font-sans-medium text-sm text-grey-300 mb-[2px]">მედალფა - შპს აკადემიკოს ვახტანგ
                  ბოჭორიშვილის კლინიკა</div>
                <div class="font-sans font-sans-medium text-sm text-grey-300">16 ალექსანდრე ყაზბეგის გამზირი</div>
              </div>
            </div>
          </div>
          <div class="only-m flex flex-col mt-4">
            <div class="font-sans font-sans-medium text-sm text-grey-300 mb-[2px]">მედალფა - შპს აკადემიკოს ვახტანგ
              ბოჭორიშვილის კლინიკა</div>
            <div class="flex items-center mt-4 font-sans font-sans-medium text-sm text-grey-300"><span
                class="material-symbols-outlined text-[20px] mr-1">
                location_on
              </span> 16 ალექსანდრე ყაზბეგის გამზირი</div>
          </div>
        </div>
        <div class="flex -ml-[6px] -mr-[6px] flex-wrap mob-scroll">
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:00 - 10:20</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
        </div>
      </div>
      <div class="border-grey-400 border rounded-xl pt-6 px-8 pb-[84px] doct-shadow mb-4">
        <div class="flex items-start border-grey-400 border-b border-dashed pb-4 mb-4 flex-wrap">
          <img src="/assets/doctor.jpg" alt=""
            class="mr-2 w-[56px] h-[56px] md:w-[72px] md:h-[72px] rounded-full object-cover">
          <div class="doct-desc">
            <div class="flex mb-[6px] flex-wrap md:flex-nowrap">
              <div class="font-sans font-sans-medium text-sm underline text-blue-300 mr-4">ნინო ოქროპირიძე</div>
              <div class="font-sans font-sans-medium text-sm text-red">ოტორინოლარინგოლოგი</div>
            </div>
            <div class=" md:flex hidden">
              <img src="/assets/apartment.svg" alt="" class="mr-3 w-[22px]">
              <div>
                <div class="font-sans font-sans-medium text-sm text-grey-300 mb-[2px]">მედალფა - შპს აკადემიკოს ვახტანგ
                  ბოჭორიშვილის კლინიკა</div>
                <div class="font-sans font-sans-medium text-sm text-grey-300">16 ალექსანდრე ყაზბეგის გამზირი</div>
              </div>
            </div>
          </div>
          <div class="only-m flex flex-col mt-4">
            <div class="font-sans font-sans-medium text-sm text-grey-300 mb-[2px]">მედალფა - შპს აკადემიკოს ვახტანგ
              ბოჭორიშვილის კლინიკა</div>
            <div class="flex items-center mt-4 font-sans font-sans-medium text-sm text-grey-300"><span
                class="material-symbols-outlined text-[20px] mr-1">
                location_on
              </span> 16 ალექსანდრე ყაზბეგის გამზირი</div>
          </div>
        </div>
        <div class="flex -ml-[6px] -mr-[6px] flex-wrap mob-scroll">
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:00 - 10:20</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
          <div
            class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
            10:20 - 10:40</div>
        </div>
        <div class="border-grey-400 border-t border-dashed mt-5 pt-7">

          <div class="flex items-start border-grey-400 border-b border-dashed pb-4 mb-4 flex-wrap">
            <img src="/assets/doctor.jpg" alt=""
              class="mr-2 w-[56px] h-[56px] md:w-[72px] md:h-[72px] rounded-full object-cover">
            <div class="doct-desc">
              <div class="flex mb-[6px] flex-wrap md:flex-nowrap">
                <div class="font-sans font-sans-medium text-sm underline text-blue-300 mr-4">ნინო ოქროპირიძე</div>
                <div class="font-sans font-sans-medium text-sm text-red">ოტორინოლარინგოლოგი</div>
              </div>
              <div class="md:flex hidden">
                <img src="/assets/apartment.svg" alt="" class="mr-3 w-[22px]">
                <div>
                  <div class="font-sans font-sans-medium text-sm text-grey-300 mb-[2px]">მედალფა - შპს აკადემიკოს
                    ვახტანგ
                    ბოჭორიშვილის კლინიკა</div>
                  <div class="font-sans font-sans-medium text-sm text-grey-300">16 ალექსანდრე ყაზბეგის გამზირი</div>
                </div>
              </div>
            </div>
            <div class="only-m flex flex-col mt-4">
              <div class="font-sans font-sans-medium text-sm text-grey-300 mb-[2px]">მედალფა - შპს აკადემიკოს ვახტანგ
                ბოჭორიშვილის კლინიკა</div>
              <div class="flex items-center mt-4 font-sans font-sans-medium text-sm text-grey-300"><span
                  class="material-symbols-outlined text-[20px] mr-1">
                  location_on
                </span> 16 ალექსანდრე ყაზბეგის გამზირი</div>
            </div>
          </div>
          <div class="flex -ml-[6px] -mr-[6px] flex-wrap mob-scroll">
            <div
              class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
              10:00 - 10:20</div>
            <div
              class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
              10:20 - 10:40</div>
            <div
              class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
              10:20 - 10:40</div>
            <div
              class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
              10:20 - 10:40</div>
            <div
              class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
              10:20 - 10:40</div>
            <div
              class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
              10:20 - 10:40</div>
            <div
              class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
              10:20 - 10:40</div>
            <div
              class="py-2 px-[9px] bg-grey-500 rounded-lg mx-[6px] font-sans font-sans-medium text-[15px] text-blue-300 xl:w-[calc(100%/9-12px)] lg:w-auto mb-3 mob-hours">
              10:20 - 10:40</div>
          </div>
        </div>
        <div class="see-more">
          <div class="gradient"></div>
          <div class="text-[16px] font-sans-medium flex">ყველას ნახვა <img src="/assets/chevron.svg" alt=""
              class="w-[10px] ml-[9px] -rotate-90"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="fixed w-full left-0 bottom-0 bg-white md:px-3 px-0 py-3 z-20">
  <div class="content flex justify-between items-center">
    <div class="bg-white pointer rounded-lg flex w-[152px] h-[42px] items-center justify-center border border-grey-600">
      <img src="/assets/arrow.svg" alt="Arrow" class="w-[18px] mr-4">
      <div class="text-[16px] font-sans-medium text-blue-300">უკან</div>
    </div>
    <div class="bg-grey-300 pointer rounded-lg flex w-[152px] md:w-[184px] h-[42px] items-center justify-center">
      <div class="text-[16px] font-sans-medium text-white">გაგრძელება</div>
    </div>
  </div>
</div>